{% extends "personal_training_base.html" %}
<!-- Start Preloader Area -->
{% load static %} {% block preload %}
<!-- Start Preloader Area -->
<!-- End Preloader Area -->
{% endblock preload %} {% block content %}
<!-- Start Page Title Area -->
<!-- End Page Title Area -->
<!-- Start What We Offer Area -->
<section class="product-details-area ptb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="product-details-image">
          <img src="{{ course.image.url }}" alt="Image" />
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="product-details-desc">
          <h3>{{ course.name }}</h3>

          <ul class="rating">
            <li><i class="bx bxs-star"></i></li>
            <li><i class="bx bxs-star"></i></li>
            <li><i class="bx bxs-star"></i></li>
            <li><i class="bx bxs-star"></i></li>
            <li><i class="bx bxs-star"></i></li>
          </ul>

          <div class="price">
            <span class="new-price"> ${{ course.price }}</span>
          </div>

          <p>{{ course.description }}</p>

          <ul class="category">
            <li>Category: <span>{{ course.course_type }}</span></li>
            <li>
              Tags: {% for tag in course.set_tags %}<span>{{ tag.name }}</span
              >{% endfor %}
            </li>
          </ul>

          <div class="product-add-to-cart"></div>

          {% if course.slug_name in cart_courses %}
          <button
            class="default-btn add-to-cart"
            id="{{ course.slug_name }}"
            style="background-color: red"
          >
            <i class="bx bx-cart"></i>
            Remove from Cart
          </button>
          {% else %}
          <button class="default-btn add-to-cart" id="{{ course.slug_name }}">
            <i class="bx bx-cart"></i>
            Add to Cart
          </button>
          {% endif %}

          <ul class="social-wrap">
            <li>
              <span>Share:</span>
            </li>
            <li>
              <a href="https://www.facebook.com/" target="_blank">
                <i class="bx bxl-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank">
                <i class="bx bxl-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" target="_blank">
                <i class="bx bxl-linkedin-square"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank">
                <i class="bx bxl-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="products-details-content">
        <h4>Description</h4>
        <h3>Overview</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
          blanditiis quo fugiat magni accusamus exercitationem! Voluptate,
          deleniti quae. Libero iusto minus, nulla excepturi quidem
          reprehenderit blanditiis eligendi exercitationem nesciunt ad! Lorem
          ipsum dolor sit amet, consectetur adipisicing elit. Sequi temporibus
          deserunt mollitia natus esse, sunt fuga quos. Autem quasi error
          quisquam architecto fuga suscipit atque voluptatibus nobis impedit.
          Officia exercitationem.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
          repellat tempora aliquid exercitationem. Vel, dicta quos. Velit
          magnam, eius unde ullam, distinctio atque aperiam obcaecati ipsam id,
          inventore consectetur laudantium repellat tempora aliquid
          exercitationem. Vel, dicta quos. Velit magnam, eius unde ullam.
        </p>

        <ul class="overview-list">
          <li>
            It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.
          </li>
          <li>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
          </li>
          <li>
            The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters.
          </li>
          <li>
            Various versions have evolved over the years, sometimes by accident
            sometimes on purpose.
          </li>
        </ul>

        <div class="reviews">
          <h4>Reviews</h4>

          <ul>
            <li>5 Stars <span>95%</span></li>
            <li>4 Stars <span>05%</span></li>
            <li>3 Stars <span>00%</span></li>
            <li>2 Stars <span>03%</span></li>
            <li>1 Stars <span>02%</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #e7effd">
  <div class="container my-5 py-5 text-dark">
    <div class="row d-flex justify-content-center">
      <div class="col-md-11 col-lg-9 col-xl-7">
        <div class="d-flex flex-start mb-4">
          <div class="card w-100">
            <div class="card-body p-4">
              <div class="">
                <img
                  class="rounded-circle shadow-1-strong me-3"
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
                  alt="avatar"
                  width="65"
                  height="65"
                />
                <h5>Johny Cash</h5>
                <p class="small">3 hours ago</p>
                <p>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                  scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                  vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                  nisi vulputate fringilla. Donec lacinia congue felis in
                  faucibus ras purus odio, vestibulum in vulputate at, tempus
                  viverra turpis.
                </p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <a href="#!" class="link-muted me-2"
                      ><i class="fas fa-thumbs-up me-1"></i>132</a
                    >
                    <a href="#!" class="link-muted"
                      ><i class="fas fa-thumbs-down me-1"></i>15</a
                    >
                  </div>
                  <a href="#!" class="link-muted"
                    ><i class="fas fa-reply me-1"></i> Reply</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-start">
          <div class="card w-100">
            <div class="card-body p-4">
              <div class="">
                <img
                  class="rounded-circle shadow-1-strong me-3"
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp"
                  alt="avatar"
                  width="65"
                  height="65"
                />
                <h5>Mindy Campbell</h5>
                <p class="small">5 hours ago</p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Delectus cumque doloribus dolorum dolor repellat nemo animi at
                  iure autem fuga cupiditate architecto ut quam provident neque,
                  inventore nisi eos quas?
                </p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <a href="#!" class="link-muted me-2"
                      ><i class="fas fa-thumbs-up me-1"></i>158</a
                    >
                    <a href="#!" class="link-muted"
                      ><i class="fas fa-thumbs-down me-1"></i>13</a
                    >
                  </div>
                  <a href="#!" class="link-muted"
                    ><i class="fas fa-reply me-1"></i> Reply</a
                  >
                </div>
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex flex-start">
                      <img
                        class="rounded-circle shadow-1-strong me-3"
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp"
                        alt="avatar"
                        width="40"
                        height="40"
                      />
                      <div class="w-100">
                        <div
                          class="d-flex justify-content-between align-items-center mb-3"
                        >
                          <h6 class="text-primary fw-bold mb-0">
                            lara_stewart
                            <span class="text-dark ms-2"
                              >Hmm, This poster looks cool</span
                            >
                          </h6>
                          <p class="mb-0">2 days ago</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex flex-start">
                      <img
                        class="rounded-circle shadow-1-strong me-3"
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp"
                        alt="avatar"
                        width="40"
                        height="40"
                      />
                      <div class="w-100">
                        <div
                          class="d-flex justify-content-between align-items-center mb-3"
                        >
                          <h6 class="text-primary fw-bold mb-0">
                            lara_stewart
                            <span class="text-dark ms-2"
                              >Hmm, This poster looks cool</span
                            >
                          </h6>
                          <p class="mb-0">2 days ago</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
<!-- End What We Offer Area -->
{% block scripts %}
<script>
  let filters = {{ filters }};
  function manageFilters(ele, id) {
    if (!filters.includes(id)) {
      filters.push(id);
    } else {
      filters.splice(filters.indexOf(id), 1);
    }
    if (ele.hasAttribute("style")) {
      ele.removeAttribute("style");
    } else {
      ele.style.backgroundColor = "#62bd5e";
    }
    console.log(filters);
  }

  function search() {
    let searchInput = document.getElementById("search");
    let orderByInput = document.getElementById("order_by");
    let queryParams = new URLSearchParams();
    queryParams.append("filters", filters);
    queryParams.append("search", searchInput.value);
    queryParams.append("order_by", orderByInput.value);
    let url = "/courses/?" + queryParams.toString();
    window.location.href = url;
  }
</script>
{% endblock %}
