{% extends "personal_training_base.html" %}

{% load static %}

{% block content %}
  <section class="user-area-style recover-password-area ptb-100">
    <div class="container">
      <div class="contact-form-action recover">
        <div class="form-heading text-center">
          <h3 class="form-title">Enlace de recuperacion enviado!</h3>
          <p class="reset-desc">
            El correo de recuperacion fue enviado con exito a tu cuenta de correo
            electronico, si tienes algun problema con el proceso por favor
            contactanos<a href="contact.html">contact us.</a>
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
