{% extends "personal_training_base.html" %}

{% load static %}

{% block content %}
  <section class="user-area-style recover-password-area ptb-100">
    <div class="container">
      <div class="contact-form-action recover">
        <div class="form-heading text-center">
          <h3 class="form-title">Recover Password!</h3>
          <p class="reset-desc">
            Enter the email of your account to reset the password. Then you will
            receive a link to email to reset the password. If you have any issue
            about reset password <a href="contact.html">contact us.</a>
          </p>
        </div>
        <form method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <input class="form-control"
                       type="text"
                       name="email"
                       id="id_email"
                       placeholder="Enter Email Address" />
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <a class="now-log-in font-q" href="log-in.html">Log in your account</a>
            </div>
            <div class="col-lg-6 col-sm-6">
              <p class="now-register">
                Not a member?
                <a class="font-q" href="{% url 'users:signup' %}">Registration</a>
              </p>
            </div>
            <div class="col-12 text-center">
              <button class="default-btn" type="submit">
                <span>Reset Password</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock content %}
